a img{
	border:none;
}

body {
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	
	height:100%;
	width:100%;
	background-image:url('../images/background_slice.jpg');
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-position:top;
}

.mainDiv {
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	
	width:950px;
	height:auto;
	
	background-color:#FFFFFF;
	
	-moz-box-shadow:	0px 8px 8px 6px #5d5e5e;
	-webkit-box-shadow:	0px 8px 8px 6px #5d5e5e;
	box-shadow:			0px 8px 8px 6px #5d5e5e;
	
}

#header_line {
	margin-top:0px;
	margin-bottom:0px;
}

#logo {
	margin-top:30px;
	margin-left:30px;
	margin-bottom:40px;
}

.headerLinks {
	margin-top:-80px;
	margin-bottom:60px;
	margin-left:390px;
	
	font-family:Lao,Arial,Georgia;
	
	font-size:12pt;
}

.headerLinks a {
	margin-left:20px;
}

.headerLinks a:link
{
	text-decoration:none;
	color:#000000;
}

.headerLinks a:visited
{
	text-decoration:none;
	color:#000000;
}

.headerLinks a:active
{
	text-decoration:none;
	color:#000000;
}

.headerLinks a:hover
{
	text-decoration:none;
	color:#e30033;
}

@font-face 
{
    font-family: 'Lao';
    src: url('../fonts/Lao_UI.ttf');
}

@font-face {
	font-family: 'Copper';
	src: url('../fonts/copperplate-gothic-light.ttf');
}

#login_box {
	display:none;
	position:absolute;
	width:236px;
	margin:2px 0 0 732px;
}

.login_register {
	position:absolute;
	top:inherit;
	left:inherit;
	
	display:inline-block;
	
	margin-left:-120px;
	margin-top:20px;
}

.login_register a {
	color:#7f7f7f;
	
	text-decoration:none;
	
	font-family:Arial,Georgia;
	
	display:inline;
	
	margin-left:5px;
	margin-right:5px;
}

.login_register a:hover {
	text-decoration:none;
	color:#000000;
}

.member_box {
	position:absolute;
	top:inherit;
	left:inherit;
	
	display:inline-block;
	
	margin-left:-200px;
	margin-top:20px;
}

.member_box a {
	color:#7f7f7f;
	
	text-decoration:none;
	
	font-family:Arial,Georgia;
	
	display:inline;
	
	margin-left:5px;
	margin-right:5px;
}

.member_box a:hover {
	text-decoration:none;
	color:#000000;
}

.login_btn {
	float:left;
}

#login_box {
	font-family:Lao,Arial,Georgia;

	position:absolute;
	top:inherit;
	left:inherit;
	
	margin-left:700px;
	margin-top:-200px;
	
	border: 1px solid black;
	
	padding-bottom:10px;
	padding-left:10px;
	padding-top:0px;
	padding-right:0px;
	
	background-color:#FFFFFF;
}

#UP_footer {
	float:left;
}

#footer {
	width:950px;
	height:85px;
}

#footer hr {
	margin-bottom:0px;
	margin-top:3px;
}

.footerLinks {
	float:right;
	
	margin-top:30px;
	margin-right:40px;
}

.footerLinks a {
	margin-left:30px;
	
	font-family:Arial, Georgia;
	font-size:9pt;
	
	text-decoration:none;
	
	color:#7f7f7f;
}

.footerLinks a:hover {
	text-decoration:none;
	color:#000000;
}

#content {
	padding:30px;
	
	font-family:Arial, Georgia;
}

#content h2 {
	font-family:Copper;
}

.offsetImg {
	margin-left:-30px;
	margin-bottom:-30px;
}

#main_banner {
	float:left;
	
	margin-bottom: 5px;
	margin-top: -30px;
}

#time_table {
	border-spacing:15px;
}

#time_table thead {
	font-weight:bold;
	border-spacing:0px;
}

#member_profile {
	margin-left:40px;
}

#member_profile h3 {
	margin-left:-20px;
	margin-bottom:5px;
	margin-top:30px;
}